/*=======================
 * CUSTOM PROPERTIES
 *========================**/

:root {
  /*colors */
  --clr-grey-500: 234 12% 34%;
  --clr-grey-400: 212 6% 44%;
  --clr-cream: 0 0% 98%;
  --clr-white: 0 0% 100%;

  --clr-red: 0 78% 62%;
  --clr-cyan: 180 62% 55%;

  --clr-blue: 212 86% 64%;
  --clr-orange: 34 97% 64%;

  /* font-size */
  --fs-800: clamp(1.5rem, 2.5vw, 2.25rem); /* 36px */
  --fs-400: 1.25rem; /* 20px */
  --fs-300: 0.9375rem; /* 15px */
  --fs-200: 0.8125rem; /* 13px */

  /* font-family */
  --ff-primary: "Poppins", sans-serif;

  /* gap */
  --flex-gap-base: 1rem;
  /* --flex-gap-compact: 0.375rem; */
}

/*=======================
 * RESET
 * ref: https://www.joshwcomeau.com/css/custom-css-reset/
 *========================**/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  color: hsl(var(--clr-grey-400));
  font-weight: normal;
  background-color: hsl(var(--clr-cream));

  line-height: 1.6;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;

  display: block;
  max-width: 100%;
  height: auto;
}

/* avoid text overflows */
p,
h1 {
  overflow-wrap: break-word;
}

/*=======================
 * COMPONENTS
 *========================**/
.tech-services {
  display: grid;
  row-gap: 3.75rem;
  padding: 3.5rem 1.875rem;
  justify-items: center;
}

.hero {
  max-width: 33.75rem;
  display: grid;
  gap: 1rem;
  color: hsl(var(--clr-grey-500));
}

.services-grid {
  grid-template-columns: minmax(auto, 19.625rem);
  justify-content: center;
}

.services-grid,
.service-card {
  display: grid;
  gap: 2rem;
}

.primary-heading {
  letter-spacing: 0.25px;
  text-align: center;
  font-weight: 200;
  line-height: 1.4;
  font-size: var(--fs-800);
}

.primary-heading strong {
  font-weight: 600;
}

.intro-description {
  text-align: center;
}

/* SECTIONS */
.service-card {
  padding: 2rem;
  background-color: hsl(var(--clr-white));
  box-shadow: 0 15px 30px -11px hsla(214, 50%, 67%, 0.5);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.service-card::before {
  content: "";
  width: 100%;
  top: 0;
  height: 4px;
  position: absolute;
}

.supervisor::before {
  background-color: hsl(var(--clr-cyan));
}

.team-builder::before {
  background-color: hsl(var(--clr-red));
}

.karma::before {
  background-color: hsl(var(--clr-orange));
}

.calculator::before {
  background-color: hsl(var(--clr-blue));
}

.service-header {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap-compact, 1rem);
}

.service-header h2 {
  color: hsl(var(--clr-grey-500));
}

.service-icon {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 48rem) {
  .services-grid {
    grid-template-columns: repeat(2, 19.625rem);
  }

  .service-card:nth-of-type(1) {
    max-width: 19.625rem;
    grid-column: span 2;
    justify-self: center;
  }

  .service-card:nth-of-type(2) {
    grid-column: 1;
  }

  .service-card:nth-of-type(3) {
    grid-column: 2;
  }

  .service-card:nth-of-type(4) {
    grid-column: span 2;
    justify-self: center;
    max-width: 19.625rem;
  }
}

@media (min-width: 90rem) {
  .services-grid {
    grid-template-columns: repeat(3, minmax(19.625rem, 21.875rem));
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma calculator";
    align-items: center;
  }

  .service-card:nth-child(1) {
    grid-area: supervisor;
  }

  .service-card:nth-child(2) {
    grid-area: team-builder;
  }

  .service-card:nth-child(3) {
    grid-area: karma;
  }

  .service-card:nth-child(4) {
    grid-area: calculator;
  }

  .service-card:nth-of-type(1),
  .service-card:nth-of-type(4) {
    max-width: unset;
  }
}
